@import "tailwindcss";

@layer base {
  *, *::before, *::after { box-sizing: border-box; }
}
/*@layer components {*/
/*  .btn { @apply px-4 py-2 rounded bg-primary text-white; }*/
/*}*/
/*@layer utilities {*/
/*  .txt-brand { color: var(--color-primary); }*/
/*}*/


@plugin "daisyui";

@plugin "daisyui" {
    themes: light --default, dark --prefersdark;
    root: ":root";
    logs: true;
}
